.awful-text {
    background: linear-gradient(-90deg, #2BC700, #FAB83D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    list-style-type: none;
  }

  .blackout {
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 900;
    text-decoration: #000000 line-through wavy;
    margin: 0px;
  }