.App-header {
    background-image: linear-gradient(-90deg, #2BC700, #FAB83D);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }